<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
</head>

<body>
    <h1>Restablecer Contraseña</h1>
    <p>Por favor, ingrese su nueva contraseña a continuación:</p>
    <form action="/auth/recovery/reset-password/{{token}}" method="POST" id="resetPasswordForm">

        <input type="hidden" name="token" value="{{token}}">
        <label for="password">Nueva Contraseña:</label>
        <input type="password" id="password" name="password" required>
        <label for="confirmPassword">Confirmar Nueva Contraseña:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <button type="submit">Restablecer Contraseña</button>
    </form>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const resetPasswordForm = document.getElementById("resetPasswordForm");

            resetPasswordForm.addEventListener("submit", function (event) {
                const password = document.getElementById("password").value;
                const confirmPassword = document.getElementById("confirmPassword").value;

                if (password !== confirmPassword) {
                    alert("Las contraseñas no coinciden. Por favor, inténtalo de nuevo.");
                    event.preventDefault(); // Evitar que el formulario se envíe
                }
            });
        });
    </script>

</body>

</html>