<form class="formSocket" id="productForm" method="" action="" enctype="multipart/form-data">
    <label for="title">Título:</label>
    <input type="text" id="title" name="title"><br>

    <label for="description">Descripción:</label>
    <textarea id="description" name="description"></textarea><br>

    <label for="code">Código:</label>
    <input type="text" id="code" name="code"><br>

    <label for="thumbnails">Imagen:</label>
    <input type="file" id="thumbnails" name="thumbnails" required><br>

    <label for="price">Precio:</label>
    <input type="number" id="price" name="price"><br>

    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock"><br>

    <input type="hidden" name="status" value="true">

    <input type="submit" value="Agregar producto">
</form>


<script>
    const addProductForm = document.getElementById('productForm');
    try {
        addProductForm.addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData(addProductForm);
            const response = await fetch('/api/products', { method: 'post', body: formData, });
            const bodyResponse = await response.json();
            if (response.ok) {
                const product = bodyResponse.data;
                alert("se agrego producto nuevo, refresque la pagina")
            } else {
                const error = bodyResponse.error;
                alert(error);
            }
        });

    } catch (error) {
        alert("error");
    }
</script>