<header>
        <nav class="barra">
            <ul class="barra__lista">
                <li class="barra__lista__item"><a class="barra__lista__item__link" href="./paginas/galeria.html"> Galeria </a></li>
                <li class="barra__lista__item"><a class="barra__lista__item__link" href="./paginas/plantas.html"> Plantas </a></li>
                <li class="barra__lista__item"><a class="barra__lista__item__link" href="./paginas/cursos.html"> Cursos </a></li>
                <li class="barra__lista__item"><a class="barra__lista__item__link" href="./paginas/tienda.html"> Tienda </a></li>
                <li class="barra__lista__item"><a class="barra__lista__item__link" href="./paginas/formulario.html"> Contacto </a></li>
            </ul>
        </nav>
</header>