<header>
        <nav class="barra">
            <ul class="barra__lista">
                <li class="barra__lista__item"><a class="barra__lista__item__link" href="./paginas/galeria.html"> Productos </a></li>
                <li class="barra__lista__item"><a class="barra__lista__item__link" href="./paginas/plantas.html"> Chat </a></li>
                <li class="barra__lista__item"><a class="barra__lista__item__link" href="./paginas/cursos.html"> Carrito </a></li>
                <li class="barra__lista__item"><a class="barra__lista__item__link" href="./paginas/tienda.html"> Perfil </a></li>
                <li class="barra__lista__item"><a class="barra__lista__item__link" href="./paginas/formulario.html"> Login </a></li>
            </ul>
        </nav>
</header>